.carousel {
  width: 100%;
  /* border: 5px solid red; */
  background: linear-gradient(90deg, #7c3aed, #82e0f5);
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  animation: cycle 25s infinite linear;
}

.cards {
  flex: 0 0 5em;
  height: 40px;
  margin: 0 10px;
  padding: 5px;
  /* background-color: cornflowerblue; */
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@keyframes cycle {
    from { translate: 0 }
    to { translate: -100% }
}