.gradient-text {
  background: linear-gradient(90deg, #7c3aed, #82e0f5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 
body.dark .gradient-text {
  background: linear-gradient(90deg, #4ade80, #82e0f5) !important;
} */

.css-51we07-MuiPopper-root {
  transform: translate(1265px, 64px);
  z-index: 99;
}

.css-mp9f0v.css-mp9f0v.css-mp9f0v {
  padding: 9.6px 32px 9.6px 14px !important;
}

.css-1qk38wv {
  min-width: none !important;
}

a {
  color: white;
  text-decoration: none;
}
